<?php

/**
 * 项目配置
 */
define('APP_DEBUG', true); // 开启错误显示
define('ENABLE_SESSION', true); // 启用 session
define('APP_URL', ''); // 网站的根域名
define('INDEX_URL', APP_URL.'index.php'); // index.php
define('AUTHORIZE_URL', APP_URL.'authorize.php'); // authorize.php 授权页
define('AUTHORIZE_CALLBACK', AUTHORIZE_URL.'?action=callback'); // 授权回调地址
define('SESS_AUTHORIZE_KEY', 'SESS_AUTHORIZE_KEY'); // session 存取用户信息的 key
define('SESS_TARGET_URL', 'SESS_TARGET_URL');

/**
 * 微信配置
 */
define('ENABLE_WECHAT', true); // 启用微信
define('WECHAT_APPID', '');
define('WECHAT_SECRET', '');
define('WECHAT_TOKEN', '');
define('WECHAT_AES_KEY', '');
define('WECHAT_OAUTH_SCOPES', 'snsapi_userinfo');
define('WECHAT_OAUTH_CALLBACK', AUTHORIZE_CALLBACK);
define('WECHAT_LOG_FILE', realpath(__DIR__.'/../storage/wechat.log')); // 绝对路径
define('WECHAT_LOG_LEVEL', 'debug'); // debug|info|notice|warning|error|critical|alert|emergency

/**
 * 数据库配置
 */
define('ENABLE_DATABASE', true); // 启用数据库
define('DB_DRIVER', 'mysql');
define('DB_HOST', '');
define('DB_DATABASE', '');
define('DB_USERNAME', '');
define('DB_PASSWORD', '');
define('DB_CHARSET', 'utf8');
define('DB_COLLATION', 'utf8_unicode_ci');
define('DB_PREFIX', '');

/**
 * 其他配置
 */
